* {
  font-family: nunito, sans-serif;
}

h1 {
  text-align: center;
}

/* Give the page an A4 look */ 
html, body {
  background-color: #f5f5f5;
  color: #5f5f5f;
}

.section{
  padding: 0 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  text-align: justify;
}

.header {
    padding: 20px 0px 0;
    padding-top: 20px;
}

.container {
  max-width: 794px;
  background-color: #fff;
  margin: auto;
  /* Makes it look like an A4 page */
  /*min-height: 1122px; */
}

/* Format Contact information */
.contact {
  width: 100%;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 20px;
}

.contact li {
  display: inline-block;
  padding: 0 10px;
  border-right: 1px solid #ccc;
}

.contact li:first-child {
  padding-left: 0px;
}

.contact li:last-child {
  border-right: none;
  padding-right: 0px;
}

/* Change Link Colors */
a {
  color: #c00;
  text-decoration: none;
}

a:hover {
    color: #8B0000;
    text-decoration: underline;
}
